@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap");

.container {
  width: 100%;
  height: auto;
  position: relative;
  & .backImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    filter: grayscale(1);
    position: fixed;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
