@import "./reset.css";

.navContainer {
  box-sizing: border-box;
  width: 100%;
  height: 13%;
  // border: 1px solid #ffffff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
  z-index: 999;
  & .logo {
    width: 10em;
    margin-left: 2em;
    height: auto;
    cursor: pointer;
    filter: invert(100%);

    @media (max-width: 700px) {
      width: 8em;
    }
    @media (max-width: 500px) {
      width: 5em;
    }
  }
  & .menuContainer {
    display: flex;
    align-items: center;
    margin-right: 3%;
    justify-content: flex-end;
    width: 100%;
    & .notiIcon {
      display: flex;
      @media (max-width: 450px) {
        display: none;
      }
    }
    & .account {
      display: flex;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}
