.searchBox {
  width: 30%;
  background: #44474b;
  height: auto;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.searchButton {
  float: right;
  width: 10%;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.searchButton:hover {
  background-color: rgb(153, 153, 153);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: white;
  font-size: 16px;
  transition: 1s;
  line-height: 40px;
  width: 90%;
  height: 70%;
  padding: 0 6px;
  margin-left: 2%;
}

@media (max-width: 450px) {
  .searchBox {
    display: none;
  }
}
